body {
    font-family: Consolas;
    width: 1024px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
    font-size: large;
}


/* 
    Styles for header: 
*/

header {
    display: flex;
    border: 1px solid black;
    background-color: dodgerblue;
    align-items: center;
    height: 70px;
    border-radius: 8px;
}

a:link {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #FF9900;
}

#TopLeftHeaderCell {
    display: flex;
    align-items: center;
    width: 10%;
    padding-left: 10px;
    height: 100%;
}

.headerNav {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.headerLi {
    display: flex;
    justify-content: center;
    width: 170px;
}

.headerUl {
    display: flex;
}

#TopRightHeaderCell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
}

/* 
    Styles for footer: 
*/

footer {
    display: flex;
    border: 1px solid black;
    border-radius: 8px;
    background-color: dodgerblue;
    height: 50px;
    align-items: center;
    padding-left: 20px;
    color: #FFFFFF;
}

/* 
    Styles for main 
*/

.main {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: #0066CC;
    border-radius: 8px;
    padding: 5px 8px;
    min-height: 500px;
}

.Title {
    text-align: center;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 8px;
    background-color: dodgerblue;
}

/* 
    Styles for input form on FeverCheck 
*/

#TemperatureForm {
    border: 1px solid black;
    border-radius: 10px;
    padding: 25px 20px 25px 20px;
    width: 790px;
    position: relative;
    left: 87px;
}

.formButton {
    background-color: #4CAF50;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    padding: 7px 30px;
    text-decoration: none;
    cursor: pointer;
}

.formInputField {
    padding: 6px 10px;
    border: 2px solid;
    border-radius: 4px;
}

