@using Entity_Framework.Models;
@model CitiesViewModel;
@{
    ViewData["Title"] = "Cities";
    var createCityViewModel = new CreateCityViewModel();    // Create an emtpy view-model for use in the partial view AddPerson
}
        <p></p>
        <partial name="AddCity" model="createCityViewModel" />
        <p></p>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div>&nbsp;</div>
                </div>
            </div>
            <div class="tableHeader row">
                <div class="col-lg-1">Nr.</div>
                <div class="col-lg-4">Name:</div>
                <div class="col-lg-3">Country:</div>
                <div class="col-lg-3">People:</div>
                <div class="col-lg-1">&nbsp;</div>
            </div>
@{
        string rowclass;

        int count = Model.Cities.Count;
        for (int i = 0; i < count; i++)
        {
            var item = Model.Cities[i];

            int rowClassIndex = (i % 2);
            rowclass = Model.TableRowClasses[rowClassIndex];
            <div class="@rowclass row">
                <div class="col-lg-1">@(i + 1)</div>
                <div class="col-lg-4">@item.Name</div>
                <div class="col-lg-3">@item.Country.Name</div>
                <div class="col-lg-3">@(item.People!=null ? item.People.Count : 0)</div>
                <div class="col-lg-1">
                    <a href="/Cities/DeleteCity?id=@item.Id">Remove</a>
                </div>
            </div> 
        }
}
            <div class="tableFooter row">
                <div class="col-lg-10">&nbsp;</div>
                <div class="col-lg-2">@count item(s)</div>
            </div>
        </div>

