@using MVC_Basics.Models
@model HumanTemperatureModel
@{
    ViewData["Title"] = "Check Your Temperature";
}

        <form asp-route="FeverCheck" method="post" id="TemperatureForm">
            <label>Enter your temperature:</label>
            <input type="number" name="temperature" value="@Model.TemperatureString" step="0.1" class="formInputField" />
            @Html.RadioButton("temperatureScale", "Celcius", Model.CheckTemperatureScaleActive(TemperatureScaleTypes.Celcius), new { id = "celciusTemperatureScale" })
            <label for="celciusTemperatureScale">Celcius</label>
            @Html.RadioButton("temperatureScale", "Fahrenheit", Model.CheckTemperatureScaleActive(TemperatureScaleTypes.Fahrenheit), new { id = "fahrenheitTemperatureScale" })
            <label for="fahrenheitTemperatureScale">Fahrenheit</label>
            <input type="submit" value="Submit" class="formButton" />
        </form>
@Html.Raw(Model.MakeHTMLCodeFromMessage())