@{
    ViewData["Title"] = "Contact Information";

}
<a href="mailto:stefan.sundbeck@wpnet.se">stefan.sundbeck@wpnet.se</a>
<a href="https://www.facebook.com/stefan.sundbeck/" target="_blank">Facebook</a>